<div class="row">
  <div class="col-12 col-sm-3">
    <img class="shhh" src="https://i.pinimg.com/originals/6b/73/35/6b73354bf7431dfcb5dbf309c0486cfd.jpg" alt="Shh">
  </div>
  <div class="col-12 col-sm-9">
    <br>
    <h2>Here is your message</h2>
    <div class="decrypted-message">{{{decryptedMessage}}}</div>
  </div>
</div>