<h2>Decrypt your message</h2>

<form action="/decrypt" method="POST">
  <div class="form-group">
    <label for="key">Enter your key for decrypting:</label>
    <input id="key" name="key" type="text" class="form-control" required>
  </div>

  <button class="btn btn-primary">Decrypt</button>
</form>